 .input-class1{
    display: none;
 }
 .file-label{
    background-color: var(--theme);
     
border: 2px dotted var(--purple-grey);
border-radius: 0.35rem;
 
font-weight: 500;
padding: 0.5rem;
 width: 60vw;
 color: var(--purple-grey) !important;
 }
 .file-label:hover{
    outline: none;
    border: 2px dotted var(--white);
 }
